<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome to our application!</h1>
  <p>This is a sample welcome message.</p>
  <p>Feel free to explore the application.</p>
</body>
</html>