/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.container {
  margin-top: 20px;
  text-align: center; /* コンテンツを中央に配置する */
}

.list-group {
  margin-top: 20px;
  display: inline-block; /* 横並びにする */
}

.list-group-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: left; /* テキストを左揃えにする */
}

.list-group-item h5 {
  margin-bottom: 10px;
  text-align: center; /* h5要素を中央に配置する */
}

.btn-group {
  margin-top: 10px;
}

.btn {
  padding: 5px 10px;
  border-radius: 3px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  outline: 1px solid black;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  outline: 1px solid black;
}
.btn.btn-yellow {
  background-color: yellow;
  border-color: yellow;
  color: black;
  outline: 1px solid black; /* ふちを追加 */
}

.text-center {
  margin: 0 auto; /* 水平方向の中央配置 */
  text-align: center; /* テキストの中央配置 */
}
